<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лекарственные сборы Травник Ковалев</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.min.css"/>
</head>
<body>
    <div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="#" class="logo__link">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
            </div>
            <div class="nav-shadow"></div>
            <ul class="nav" id="nav-top">
                <li class="nav__li nav__li--dropdown">
                    <a href="#" class="nav__link">Купить</a>
                    <ul class="nav__hover">
                        <li><a href="#">Лекарственные сборы</a></li>
                        <li><a href="#">Детокс наборы</a></li>
                    </ul>
                </li>
                <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                <li class="nav__li"><a href="#" class="nav__link">О нас</a></li>
                <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                <li class="nav__li nav__li--mobile">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                    <div class="social">
                        <div class="social__item">
                            <a href="#" class="social__link icon-whatsapp"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-facebook"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-instagram"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="h-box-info">
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
                <div class="phone_and_feddback">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                </div>
                <a href="#" class="basket-link icon-basket"><span class="basket-link__count">12</span></a>
                <a class="menu-trigger menu-open-js" href="javascript:void(0)">
                    <span class="menu-trigger-icon"></span>
                </a>
            </div>
        </div>
    </header>
<main class="main main--brown">
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="page-content__container">
            <h1 class="page-content__title">Семейные традиции травничества с 1890 г.</h1>
            <h2 class="page-content__subtitle">О нас</h2>
            <div class="quote-box w-50">«Дедушка твоего прадедушки вылечил панночку травами, и за это пан подарил ему золотые часы» - из рассказа моей бабушки Александры Георгиевны Ковалевой.
            </div>
            <div class="img-box img-box--two img-box--right">
                <picture><source srcset="img/about/01.webp" type="image/webp"><img src="img/about/01.jpg" alt=""/></picture>
                <picture><source srcset="img/about/02.webp" type="image/webp"><img src="img/about/02.jpg" alt=""/></picture>
            </div>
            <div class="page-content__text w-70">
                <p>Лекарственные растения или, как у нас принято называть, - трАвы, я видел с детства летом, когда приезжал к родным в старинный волжский город. Эти травы сушились в пучках на чердаке, лежли в полотняных мешках и старых железных жбанах. Летом мы выезжали далеко от города на сбор растений. Это так интересно – вокруг степь и холмы, покрытые разными-разными травами, жара. А потом, после сбора трав, в котором я принимал участие как взрослый - приятная усталость и обед на поляне в тени – вокруг разложены в пучках собранные зверобой с маленькими желтыми цветками и действительно душистая душица, а еще полынь и бессмертник и много-много других трав.</p>
                <p>С детства я знал, что если кто-то в семье заболеет, то не надо будет глотать неприятные порошки и таблетки. Нужно будет просто выпить чашку горячего и горького напитка со странным названием «Фебрифуга». Горького – потому что в нем среди других трав есть трава полынь. А если кто-то из семьи простудится и начнет кашлять – то надо будет пить тоже горячий, но на молоке и с медом напиток под названием «Пульмон».</p>
                <p>А если ударишься или порежешься, не надо обрабатывать синяк или рану зеленкой или йодом, а просто достанут из темного шкафа пузырек с пахучей цвета коньяка жидкостью и приложат ватку к порезу. И все пройдет очень быстро. А называется эта жидкость необычно – «Мельбет». И она тоже сделана из лекарственных трав.</p>
            </div>
        </div>
        <div class="img-box img-box--three">
            <picture><source srcset="img/about/03.webp" type="image/webp"><img src="img/about/03.jpg" alt=""/></picture>
            <picture><source srcset="img/about/04.webp" type="image/webp"><img src="img/about/04.jpg" alt=""/></picture>
            <picture><source srcset="img/about/05.webp" type="image/webp"><img src="img/about/05.jpg" alt=""/></picture>
        </div>
        <div class="page-content__container">
            <div class="page-content__text w-70">
                <p>Я всегда знал, что у меня был строгий, справедливый и упорный прадед - фельдшер и травник Георгий Матвеевич Ковалев, который и создал рецептуру сборов из лекарственных трав. Большой портрет прадеда висел дома в тяжелой дубовой раме. С детства я слышал от родных – врачей и травников, а династия травников Ковалевых насчитывает как минимум шесть поколений, много рассказов об излечениях больных, о интересных практических случаях, о сложностях работы.</p>
                <p>Я вырос и сам стал врачом, пользуюсь старинными рецептами моего прадеда сам и прибегаю к ним для всех своих близких. И пересказываю им истории семьи, которые рассказывала мне моя бабушка и другие родственники…</p>
                <p>А теперь я хочу рассказать  эти истории всем…</p>
                <ul class="list-content">
                    <li>Про уникальные сборы из лекарственных растений, рецептуру которых,  используя записи своих предков, создал мой прадед Георгий Матвеевич Ковалев.</li>
                    <li>Про семью травников и врачей Ковалёвых, которая на протяжении многих десятилетий помогала и помогает людям противостоять болезням и оставаться здоровыми.</li>
                    <li>Про семью Ковалевых, в судьбах представителей которой отражается история страны на протяжении нескольких веков. Про окружение семьи и про тот мир и уклад жизни, который частично остался в большом волжском городе, где работали мои предки и до сих работают мои родственники.</li>
                </ul>
            </div>
        </div>
        <div class="doctor-info-box">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12">
                    <picture><source srcset="img/about/06.webp" type="image/webp"><img class="doctor-info-box__img" src="img/about/06.png" alt=""/></picture>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
                    <div class="page-content__text">
                        <h3>Степенский Андрей Борисович </h3>
                        <p>Врач-лечебник.  Кандидат медицинских наук. Потомственный фитотерапевт в 6 поколении. </p>
                        <p>Закончил лечебный факультет Российского Государственного Медицинского Университета.</p>
                        <p>Прошел сертификационный курс по Российскому травничеству в Институте восточной медицины Российского университета дружбы народов.</p>
                        <p>С детства получил опыт работы с лекарственными растениями. Вместе со старшими поколениями семьи выезжал на сбор трав, участвовал во всех этапах приготовления лечебных и профилактических сборов из лекарственных растений.</p>
                        <p>Хранитель уникальной библиотеки старинных изданий по медицине и лекарственным растениям, заложенной его прадедом,  травником Георгием Матвеевичем Ковалевым и преумноженной его детьми – врачами-фитотерапевтами Александрой Георгиевной Мельниковой и Ниной Георгиевной Ковалевой.</p>
                        <p>Диплом врача<br> 
                            Диплом кандидата медицинских наук<br> 
                            Российское травничество<br> 
                            Статья</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recommend-catalog recommend-catalog--about">
            <div class="container">
                <h2 class="caption-section">Сборы лекарственных трав</h2>
                <div class="catalog-list catalog-list--thour">
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im1.webp" type="image/webp"><img src="img/product-im1.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Архилея</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im2.webp" type="image/webp"><img src="img/product-im2.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Биденс</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im1.webp" type="image/webp"><img src="img/product-im1.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Архилея</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im2.webp" type="image/webp"><img src="img/product-im2.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Биденс</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-f">
        <div class="container">
            <h2 class="contacts-f__title">Контакты</h2>
            <div class="contacts-f__list">
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--adress">г. Москва, наб. реки Фонтанки, 91</div>
                </div>
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--phone">
                        <a href="tel:89857740473" class="phone-link-f">8-985-774-0473</a>
                    </div>
                </div>
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--social">Мы соц. сетях fytotravnik</div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__container">
                <a href="#" class="logo-f">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
                <ul class="nav">
                    <li class="nav__li"><a href="#" class="nav__link">Магазин</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">О фитотерапии</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">© 2020 Все права защищены</div>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="js/slick.js"></script>
<script src="js/script.min.js"></script>
</body>
</html>