<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лекарственные сборы Травник Ковалев</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.min.css"/>
</head>
<body>
    <div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="#" class="logo__link">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
            </div>
            <div class="nav-shadow"></div>
            <ul class="nav" id="nav-top">
                <li class="nav__li nav__li--dropdown">
                    <a href="#" class="nav__link">Купить</a>
                    <ul class="nav__hover">
                        <li><a href="#">Лекарственные сборы</a></li>
                        <li><a href="#">Детокс наборы</a></li>
                    </ul>
                </li>
                <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                <li class="nav__li"><a href="#" class="nav__link">О нас</a></li>
                <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                <li class="nav__li nav__li--mobile">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                    <div class="social">
                        <div class="social__item">
                            <a href="#" class="social__link icon-whatsapp"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-facebook"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-instagram"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="h-box-info">
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
                <div class="phone_and_feddback">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                </div>
                <a href="#" class="basket-link icon-basket"><span class="basket-link__count">12</span></a>
                <a class="menu-trigger menu-open-js" href="javascript:void(0)">
                    <span class="menu-trigger-icon"></span>
                </a>
            </div>
        </div>
    </header>
<main class="main main--brown">
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Главная</a></li>
                <li><a href="#">История семьи</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="page-content__container">
            <h1 class="page-content__title">Семейные традиции травничества с 1890 г.</h1>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
                    <picture><source srcset="img/history/01.webp" type="image/webp"><img class="photo-biography" src="img/history/01.jpg" alt=""/></picture>
                    <span class="img-caption">Г.М. Ковалев начало 1930-х  годов.</span>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-7 col-12">
                    <h2 class="page-content__subtitle page-content__subtitle--no-mb">ГЕОРГИЙ МАТВЕЕВИЧ КОВАЛЕВ (1873-1944)</h2>
                    <div class="quote-box quote-box--pad_b">Продолжатель дела предков-травников.<br>
                        Фельдшер. Практиковал с 1890 г. до конца жизни.</div>
                    <div class="page-content__text">
                        <p><b>Из автобиографии Г. М. Ковалева:</b><br>В девять лет я остался круглым сиротой, и дядя отдал меня в сапожную мастерскую в городе Балашов, где летом в праздничные дни и в свободное время я собирал лекарственные растения для аптеки. Эту специальность я унаследовал от отца и деда.
                        </p>
                        <p>В 1897 году я прибыл в Одессу. На пароходе «Саратов» Добровольного флота в разговоре с капитаном и доктором я узнал, что в Японии в городе Нагасаки есть известный фитотерапевт Танака, который очень удачно лечит лекарственными травами, и мне они посоветовали поработать у него. Вы, говорят, в этом не раскаетесь! Я решил и тут же взял билет. На 49 сутки мы прибыли в город Нагасаки.</p>
                    </div>
                </div>
            </div>
            <div class="box-img-content box-img-content--first">
                <picture><source srcset="img/history/02.webp" type="image/webp"><img src="img/history/02.png" alt=""/></picture>
                <div class="page-content__text">
                    <p>Фельдшеру-терапевту Танаке меня любезно представил доктор парохода Николай Иванович Верёвкин. Танака был очень доволен такой услугой и любезно оставил меня у себя. К концу сбора лекарственных растений и кореньев осенью Танака пригласил меня к себе в город Нагасаки быть его помощником. У терапевта Танаки я проработал три года - 1897, 1898 и 1899 гг.</p>
                    <p>Последние два года я был главным инструктором всех трех групп сбора растений.</p>
                    <p>В 1900 году я хорошо усовершенствовал восточный метод лечения и стал скрещивать его с нашим российским методом лечения растениями, что имел в памяти от деда и родителей, знакомясь с их записью, что они писали себе на память0 от дедов и родителей (ибо занятие это у них потомственное).</p>
                    <p>В 1900 году в Саратове я женился и решил заняться самостоятельно сбором и сбытом лекарственных растений с лечебной целью, снял себе помещение и с разрешения местной власти начал вести это общественное полезное дело.</p>
                </div>
            </div>
            <div class="box-img-content box-img-content--two">
                <picture><source srcset="img/history/03.webp" type="image/webp"><img src="img/history/03.png" alt=""/></picture>
                <div class="page-content__text">
                    <p>Практика Г. М. Ковалева заключалась в ежедневном приеме больных и индивидуальном подборе пациентам сборов из лекарственных растений. Георгий Матвеевич систематизировал опыт предыдущих поколений травников, создал сложную рецептуру сборов, дал им звучные названия.</p>
                    <p>Так противовоспалительный сбор «Фебрифуга»  необходимо пить при гриппе и «лихорадке», а легочный сбор «Пульмон» прекрасно справляется с кашлем. В состав этих сборов входят десятки трав в различных пропорциях, и их нужно заваривать, как правило, кипятком или молоком и настаивать 20-30 минут перед употреблением. </p>
                    <p>Кроме сложных сборов, которые необходимо пить горячими, Георгий Матвеевич рекомендовал, например, больным артритами и невралгиями настой лечебных «кореньев» на водке или вине под названием «Сачех». А при экземе, псориазе и других кожных болезнях наряду со сбором «Биденс», который необходимо пить внутрь, рекомендовал «Набор ароматических трав для ванн» для местного применения.</p>
                </div>
            </div>
            <div class="box-img-content box-img-content--three">
                <picture><source srcset="img/history/04.webp" type="image/webp"><img src="img/history/04.png" alt=""/></picture>
                <div class="page-content__text">
                    <p>В 1914 году уже для более широкого круга, и, как бы мы сказали сейчас, для массового потребителя, Георгий Матвеевич создал рецептуру и запатентовал лечебный питательный препарат «Какаорхисъ» на основе трав, корней и шоколада и других растительных веществ рекомендованный «детям и взрослым, слабым и малокровным вместо завтрака, кофе и чая». «Какаорхисъ» получил от Министерства торговли и промышленности в Петрограде привилегию и охранительное свидетельство. Это был актуальный продукт для истощенных, для раненых, прибывавших в госпитали с фронтов Первой мировой войны.
                    </p>
                    <p>Обратите внимание на изящный, в стиле модерна, рекламный буклет препарата, в котором русский текст дублирован на французском для придания информации дополнительной убедительности. Сложно сказать, сколько лет Г. М. Ковалев мог заниматься реализацией «Какаорхиса», скорее всего после октябрьских событий 1917 года это было делать сложнее, а потом и совсем невозможно.  Тем не менее, рецептура осталась в семье и, возможно, питательный напиток «Какаорхисъ» еще появится, как это принято говорить, на прилавках магазинов…</p>
                </div>
            </div>
            <div class="box-img-content box-img-content--thour">
                <picture><source srcset="img/history/05.webp" type="image/webp"><img src="img/history/05.png" alt=""/></picture>
                <div class="page-content__text">
                    <p>Георгий Матвеевич излечивал травами многих больных от разных недугов, в архиве семьи хранится множество историй болезней и отзывов благодарных пациентов.</p>
                    <p>Конечно, в семье травы были всегда в приоритете, ведь классическая медицина в доантибиотиковую эру не всегда справлялась с серьезными заболеваниями. Но травы помогали и в тяжелых случаях. Если говорить о случаях в самой семье, то Георгий Матвеевич вылечил внучку от менингита, для этого приходилось вводить настои трав через трубочки в носу, сама внучка была в таком состоянии, что не могла пить. Вылечил он и зятя от тяжелого распространенного туберкулеза. В этом помог сбор из лекарственных трав «Пульмон».</p>
                    <p>Но, несмотря на то что сам Георгий Матвеевич был крайне сведущим в медицине и жил в одном из самых больших и процветающих на тот момент городов Российской империи, не всех своих детей из шести рожденных он мог спасти – два сына и дочь умерли в раннем возрасте от детских инфекций.</p>
                    <p>Две дочери, Александра и Нина, стали врачами и продолжили травническое дело отца.</p>
                    <h3>Александра Георгиевна Ковалева</h3>
                    <p class="text-italic brown-color">Врач-фитотерапевт. Ученица и продолжательница дела отца.<br> Практиковала в Саратове в 1930-1980-е годы.</p><br>
                    <h3>Нина Георгиевна Ковалева</h3>
                    <p class="text-italic brown-color">Врач-фитотерапевт. Ученица и продолжательница дела отца. Вела<br> фитотерапевтическую практику в Саратове  и Москве в 1930-1970-е годы</p>
                    <p class="text-italic brown-color">В дальнейшем практику до начала 1980-х годов продолжил муж Н.Г. Ковалевой<br> Борис Вячеславович Афендульев.</p>
                </div>
            </div>
            <div class="box-img-content box-img-content--five">
                <picture><source srcset="img/history/06.webp" type="image/webp"><img src="img/history/06.png" alt=""/></picture>
                <div class="page-content__text">
                    <p>За книгу «Лечение растениями (очерки по фитотерапии)» Н.Г. Ковалёва была награждена Дипломом 3-й степени «За лучшую медицинскую книгу» Министерства здравоохранения СССР. </p>
                    <p>Книга Н. Г. Ковалевой, изданная в 1971 году общим тиражом 150 000 экземпляров стала одним из основных трудов, по которому учились фитотерапевты следующих поколений. Книга написана на основании литературных данных отечественных и зарубежных исследователей по разнообразным вопросам фитотерапии, опыты семьи автора, накопленного за более чем 100-летний период, а также врачебной практики автора, проводившей лечение некоторых заболеваний лекарственными растениями в течение многих лет.</p>
                </div>
            </div>
            <div class="box-img-content box-img-content--six">
                <picture><source srcset="img/history/07.webp" type="image/webp"><img src="img/history/07.png" alt=""/></picture>
                <div class="page-content__text">
                    <p>Династию врачей и травников  также продолжили внуки и правнуки Г. М. Ковалева. В настоящее время практику продолжают правнуки Георгия Мтвеевича Ковалева Андрей и Константин.</p><br>
                    <h3>Георгий Константинович Ковалев</h3>
                    <p class="text-italic brown-color">Внук Г. М. Ковалева. Врач. Кандидат медицинских наук. Вел<br> фитотерапевтическую практику совместно с женой Евдокией Алексеевной<br> Ковалевой в Саратове в 1970-е – 1990-е.</p><br>
                    <h3>Георгий Георгиевич Ковалев</h3>
                    <p class="text-italic brown-color">Правнук Г. М. Ковалева. Практиковал в Саратове до 2020 года.</p>
                </div>
            </div>
        </div>
        <div class="recommend-catalog recommend-catalog--about">
            <div class="container">
                <h2 class="caption-section">Сборы лекарственных трав</h2>
                <div class="catalog-list catalog-list--thour">
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im1.webp" type="image/webp"><img src="img/product-im1.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Архилея</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im2.webp" type="image/webp"><img src="img/product-im2.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Биденс</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im1.webp" type="image/webp"><img src="img/product-im1.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Архилея</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-list__item">
                        <div class="products-card">
                            <div class="products-card__inner">
                                <div class="products-card__img">
                                    <picture><source srcset="img/product-im2.webp" type="image/webp"><img src="img/product-im2.png" alt=""/></picture>
                                </div>
                                <div class="products-card__title">Биденс</div>
                                <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                                <div class="products-card__select">
                                    <div class="select-b select-b--gray">
                                        <div class="select-b__heading">
                                            <div class="select-b__name">100 гр</div>
                                        </div>
                                        <div class="select-b__body">
                                            <ul class="select-b__list">
                                                <li class="select-b__item">100 гр</li>
                                                <li class="select-b__item">150 гр</li>
                                                <li class="select-b__item">200 гр</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="products-card__price">
                                    <span class="price">250</span>
                                    <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-f">
        <div class="container">
            <h2 class="contacts-f__title">Контакты</h2>
            <div class="contacts-f__list">
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--adress">г. Москва, наб. реки Фонтанки, 91</div>
                </div>
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--phone">
                        <a href="tel:89857740473" class="phone-link-f">8-985-774-0473</a>
                    </div>
                </div>
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--social">Мы соц. сетях fytotravnik</div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__container">
                <a href="#" class="logo-f">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
                <ul class="nav">
                    <li class="nav__li"><a href="#" class="nav__link">Магазин</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">О фитотерапии</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">© 2020 Все права защищены</div>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="js/slick.js"></script>
<script src="js/script.min.js"></script>
</body>
</html>