<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лекарственные сборы Травник Ковалев</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.min.css"/>
</head>
<body>
    <div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="#" class="logo__link">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
            </div>
            <div class="nav-shadow"></div>
            <ul class="nav" id="nav-top">
                <li class="nav__li nav__li--dropdown">
                    <a href="#" class="nav__link">Купить</a>
                    <ul class="nav__hover">
                        <li><a href="#">Лекарственные сборы</a></li>
                        <li><a href="#">Детокс наборы</a></li>
                    </ul>
                </li>
                <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                <li class="nav__li"><a href="#" class="nav__link">О нас</a></li>
                <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                <li class="nav__li nav__li--mobile">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                    <div class="social">
                        <div class="social__item">
                            <a href="#" class="social__link icon-whatsapp"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-facebook"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-instagram"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="h-box-info">
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
                <div class="phone_and_feddback">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                </div>
                <a href="#" class="basket-link icon-basket"><span class="basket-link__count">12</span></a>
                <a class="menu-trigger menu-open-js" href="javascript:void(0)">
                    <span class="menu-trigger-icon"></span>
                </a>
            </div>
        </div>
    </header>
<main class="main main--gradient">
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Курсы детокса</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="heading-section">
            <div class="heading-section__nav nav-heading">
                <div class="nav-heading__item">
                    <a href="#" class="nav-heading__card nav-heading__card--current">
                        <span class="nav-heading__img-wrap nav-heading__img-wrap--left">
                            <span class="nav-heading__img-circle">
                                <span class="icon-mortar"></span>
                            </span>
                        </span>
                        <span class="nav-heading__name">Сборы лекарственных трав</span>
                    </a>
                </div>
                <div class="nav-heading__item">
                    <a href="#" class="nav-heading__card">
                        <span class="nav-heading__img-wrap nav-heading__img-wrap--right">
                            <span class="nav-heading__img-circle">
                                <span class="icon-beverage"></span>
                            </span>
                        </span>
                        <span class="nav-heading__name">Курсы детокса</span>
                    </a>
                </div>
            </div>
            <div class="heading-section__text">Комплекс многокомпонентных сборов из лекарственных трав способствует быстрому исчезновению симптомов заболеваний желудочно-кишечного тракта, улучшает работу пищеварительной системы, «очищает» печень, корректирует состояние желчного пузыря и поджелудочной железы.</div>
            <div class="heading-section__search search-heading">
                <form class="search-heading__wrap">
                    <input class="search-heading__input" type="text" name="" placeholder="Поиск"/>
                    <button class="search-heading__submit" type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
        </div>
        <div class="name-section">Каталог</div>
        <h1 class="title-page">Курсы детокса</h1>
        <div class="catalog-list">
            <div class="catalog-list__item">
                <div class="products-card">
                    <div class="products-card__inner">
                        <div class="products-card__img">
                            <picture><source srcset="img/product-im4.webp" type="image/webp"><img src="img/product-im4.png" alt=""/></picture>
                        </div>
                        <div class="products-card__title">Курс детокса <span class="products-card__t-number">№1</span></div>
                        <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                        <div class="products-card__select">
                            <div class="select-b select-b--gray">
                                <div class="select-b__heading">
                                    <div class="select-b__name">100 гр</div>
                                </div>
                                <div class="select-b__body">
                                    <ul class="select-b__list">
                                        <li class="select-b__item">100 гр</li>
                                        <li class="select-b__item">150 гр</li>
                                        <li class="select-b__item">200 гр</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="products-card__price">
                            <span class="price">800</span>
                            <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog-list__item">
                <div class="products-card">
                    <div class="products-card__inner">
                        <div class="products-card__img">
                            <picture><source srcset="img/product-im4.webp" type="image/webp"><img src="img/product-im4.png" alt=""/></picture>
                        </div>
                        <div class="products-card__title">Курс детокса <span class="products-card__t-number">№2</span></div>
                        <div class="products-card__text">Очищение кожи, избавление от дисбактериоза и нормализация кишечника</div>
                        <div class="products-card__select">
                            <div class="select-b select-b--gray">
                                <div class="select-b__heading">
                                    <div class="select-b__name">100 гр</div>
                                </div>
                                <div class="select-b__body">
                                    <ul class="select-b__list">
                                        <li class="select-b__item">100 гр</li>
                                        <li class="select-b__item">150 гр</li>
                                        <li class="select-b__item">200 гр</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="products-card__price">
                            <span class="price">8000</span>
                            <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog-list__item">
                <div class="products-card">
                    <div class="products-card__inner">
                        <div class="products-card__img">
                            <picture><source srcset="img/product-im4.webp" type="image/webp"><img src="img/product-im4.png" alt=""/></picture>
                        </div>
                        <div class="products-card__title">Курс детокса <span class="products-card__t-number">№3</span></div>
                        <div class="products-card__text">Здоровые суставы</div>
                        <div class="products-card__select">
                            <div class="select-b select-b--gray">
                                <div class="select-b__heading">
                                    <div class="select-b__name">100 гр</div>
                                </div>
                                <div class="select-b__body">
                                    <ul class="select-b__list">
                                        <li class="select-b__item">100 гр</li>
                                        <li class="select-b__item">150 гр</li>
                                        <li class="select-b__item">200 гр</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="products-card__price">
                            <span class="price">800</span>
                            <a href="#" class="pay-btn pay-btn--brown">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__container">
                <a href="#" class="logo-f">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
                <ul class="nav">
                    <li class="nav__li"><a href="#" class="nav__link">Магазин</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">О фитотерапии</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">© 2020 Все права защищены</div>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="js/slick.js"></script>
<script src="js/script.min.js"></script>
</body>
</html>