<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лекарственные сборы Травник Ковалев</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.min.css"/>
</head>
<body class="home">
    <div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="#" class="logo__link">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
            </div>
            <div class="nav-shadow"></div>
            <ul class="nav" id="nav-top">
                <li class="nav__li nav__li--dropdown">
                    <a href="#" class="nav__link">Купить</a>
                    <ul class="nav__hover">
                        <li><a href="#">Лекарственные сборы</a></li>
                        <li><a href="#">Детокс наборы</a></li>
                    </ul>
                </li>
                <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                <li class="nav__li"><a href="#" class="nav__link">О нас</a></li>
                <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                <li class="nav__li nav__li--mobile">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                    <div class="social">
                        <div class="social__item">
                            <a href="#" class="social__link icon-whatsapp"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-facebook"></a>
                        </div>
                        <div class="social__item">
                            <a href="#" class="social__link icon-instagram"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="h-box-info">
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
                <div class="phone_and_feddback">
                    <div class="phone-wrap">
                        <a href="tel:89857740473" class="phone-link">8-985-774-0473</a>
                    </div>
                    <a href="#" class="feedback-btn">Обратная связь</a>
                </div>
                <a href="#" class="basket-link icon-basket"></a>
                <a class="menu-trigger menu-open-js" href="javascript:void(0)">
                    <span class="menu-trigger-icon"></span>
                </a>
            </div>
        </div>
    </header>
<main class="main">
    <div class="main-slider-wrap">
        <div class="slider-controls container" id="slider-controls-js"></div>
        <div class="main-slider main-slider-js">
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide-img"><picture><source srcset="img/slide-img.webp" type="image/webp"><img src="img/slide-img.png" alt=""/></picture></div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide__products products-slide">
                            <div class="products-slide__img">
                                <picture><source srcset="img/slide-product1.webp" type="image/webp"><img src="img/slide-product1.png" alt=""/></picture>
                            </div>
                            <div class="products-slide__content">
                                <div class="products-slide__title">Пульмон</div>
                                <div class="products-slide__subtitle">Сбор лекарственных трав</div>
                                <div class="products-slide__text">
                                    <p>При болезнях органов дыхания, сопровождающихся кашлем: бронхите, пневмонии, ларингите, трахеите.</p>
                                    <p>Многокомпонентный противовоспалительный сбор быстро избавляет от кашля и способствует выздоровлению.</p>
                                </div>
                                <div class="products-slide__price">
                                    <span class="price">220</span>
                                    <a href="#" class="pay-btn">Купить сбор</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide__products products-slide">
                            <div class="products-slide__img">
                                <picture><source srcset="img/slide-product2.webp" type="image/webp"><img src="img/slide-product2.png" alt=""/></picture>
                            </div>
                            <div class="products-slide__content">
                                <div class="products-slide__title">Фебрифуга</div>
                                <div class="products-slide__subtitle">Сбор лекарственных трав</div>
                                <div class="products-slide__text">
                                    <p>При острых респираторных вирусных инфекциях, при лихорадке (повышенной температуре тела).</p>
                                    <p>Многокомпонентный противовоспалительный и дезинфицирующий сбор на основе способствует быстрому исчезновению симптомов ОРВИ.</p>
                                    <p>Укрепляет защитные силы организма в сезон вирусных инфекций. </p>
                                </div>
                                <div class="products-slide__price">
                                    <span class="price">220</span>
                                    <a href="#" class="pay-btn">Купить сбор</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide__img"><picture><source srcset="img/slide-bg.webp" type="image/webp"><img src="img/slide-bg.png" alt=""/></picture></div>
                        <div class="slide__products products-slide">
                            <div class="products-slide__img">
                                <picture><source srcset="img/slide-product3.webp" type="image/webp"><img src="img/slide-product3.png" alt=""/></picture>
                            </div>
                            <div class="products-slide__content">
                                <div class="products-slide__title">Ковалевы</div>
                                <div class="products-slide__text">
                                    <p>В начале XX  века на основе опыта предков травников Георгий Матвеевич Ковалев создал уникальные многокомпонентные сборы из лекарственных растений и дал им звучные индивидуальные названия.</p>
                                    <p>Шесть поколений династии травников Ковалевых используют целебные свойства лекарственных растений для помощи людям </p>
                                </div>
                                <div class="products-slide__price">
                                    <a href="#" class="pay-btn">История семьи</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide__products products-slide">
                            <div class="products-slide__img">
                                <picture><source srcset="img/slide-product4.webp" type="image/webp"><img src="img/slide-product4.png" alt=""/></picture>
                            </div>
                            <div class="products-slide__content">
                                <div class="products-slide__title">Курс детокса – Повышаем иммунитет  и укрепляем легкие в сезон вирусных инфекций.</div>
                                <div class="products-slide__text">
                                    <p>Если Вы часто болеете в осенне-зимний период, Вам досаждают кашель, боль в горле и насморк.</p>
                                    <p>У Вас часто бывают простудные заболевания, проявляющиеся бронхитом, ларингитом, гайморитом, ангинами.</p>
                                    <p>Комплекс многокомпонентных сборов из лекарственных трав способствует укреплению иммунитета и противодействует вирусным инфекциям.</p>
                                </div>
                                <div class="products-slide__price">
                                    <a href="#" class="pay-btn">Купить курс</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide__products products-slide">
                            <div class="products-slide__img">
                                <picture><source srcset="img/slide-product5.webp" type="image/webp"><img src="img/slide-product5.png" alt=""/></picture>
                            </div>
                            <div class="products-slide__content">
                                <div class="products-slide__title">Курс детокса – Нормализация пищеварительной системы</div>
                                <div class="products-slide__text">
                                    Если у вас:
                                    <ul class="list-info">
                                        <li>Неприятный запах изо рта,</li>
                                        <li>Обложенный язык,</li>
                                        <li>Чувство тяжести после еды,</li>
                                        <li>Изжога, отрыжка,</li>
                                        <li>Повышенное газообразование,</li>
                                        <li>Запоры</li>
                                    </ul>
                                    <p>Комплекс многокомпонентных сборов из лекарственных трав способствует быстрому исчезновению симптомов заболеваний желудочно-кишечного тракта, улучшает работу пищеварительной системы, «очищает» печень, корректирует состояние желчного пузыря и поджелудочной железы.</p>
                                </div>
                                <div class="products-slide__price">
                                    <a href="#" class="pay-btn">Купить курс</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide__container">
                        <div class="slide__products products-slide">
                            <div class="products-slide__img">
                                <picture><source srcset="img/slide-product6.webp" type="image/webp"><img src="img/slide-product6.png" alt=""/></picture>
                            </div>
                            <div class="products-slide__content">
                                <div class="products-slide__title">Детокс – Очищение кожи, избавление от дисбактериоза и нормализация кишечника.</div>
                                <div class="products-slide__text">
                                    Если у вас:
                                    <ul class="list-info">
                                        <li>Проблемная кожа – угри, экзема,</li>
                                        <li>Проблемный кишечник – метеоризм, запоры, вздутие.</li>
                                    </ul>
                                    <p>Комплекс многокомпонентных сборов из лекарственных трав способствует очищению кожи, улучшает перистальтику кишечника, обладает успокаивающим и противовоспалительным действием.</p>
                                </div>
                                <div class="products-slide__price">
                                    <a href="#" class="pay-btn">Купить курс</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="product-section">
        <div class="container">
            <h2 class="title-section">Сборы лекарственных трав</h2>
            <div class="products-wrap">
                <div class="products-list">
                    <div class="products-list__item">
                    <div class="products-card">
                        <div class="products-card__img">
                            <picture><source srcset="img/product-im1.webp" type="image/webp"><img src="img/product-im1.png" alt=""/></picture>
                        </div>
                        <div class="products-card__title">«Архилея»</div>
                        <div class="products-card__text">При угрях, экземе, псориазе и других кожных заболеваниях.</div>
                        <div class="products-card__select">
                            <div class="select-b">
                                <div class="select-b__heading">
                                    <div class="select-b__name">100 гр</div>
                                </div>
                                <div class="select-b__body">
                                    <ul class="select-b__list">
                                        <li class="select-b__item">100 гр</li>
                                        <li class="select-b__item">150 гр</li>
                                        <li class="select-b__item">200 гр</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="products-card__price">
                            <span class="price">250</span>
                            <a href="#" class="pay-btn pay-btn--light">Купить</a>
                        </div>
                    </div>
                    </div>
                    <div class="products-list__item">
                        <div class="products-card">
                            <div class="products-card__img">
                                <picture><source srcset="img/product-im2.webp" type="image/webp"><img src="img/product-im2.png" alt=""/></picture>
                            </div>
                            <div class="products-card__title">«Биденс»</div>
                            <div class="products-card__text">При цистите, пиелонефрите, мочекаменной болезни; при простатите и аденоме предстательной железы у мужчин; при воспалительных заболеваниях женских органов; при бесплодии у женщин и у мужчин.</div>
                            <div class="products-card__select">
                                <div class="select-b">
                                    <div class="select-b__heading">
                                        <div class="select-b__name">100 гр</div>
                                    </div>
                                    <div class="select-b__body">
                                        <ul class="select-b__list">
                                            <li class="select-b__item">100 гр</li>
                                            <li class="select-b__item">150 гр</li>
                                            <li class="select-b__item">200 гр</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="products-card__price">
                                <span class="price">250</span>
                                <a href="#" class="pay-btn pay-btn--light">Купить</a>
                            </div>
                        </div>
                    </div>
                    <div class="products-list__item">
                        <div class="products-card">
                            <div class="products-card__img">
                                <picture><source srcset="img/product-im3.webp" type="image/webp"><img src="img/product-im3.png" alt=""/></picture>
                            </div>
                            <div class="products-card__title">«Торментилла»</div>
                            <div class="products-card__text">При дисбактериозе</div>
                            <div class="products-card__select">
                                <div class="select-b">
                                    <div class="select-b__heading">
                                        <div class="select-b__name">100 гр</div>
                                    </div>
                                    <div class="select-b__body">
                                        <ul class="select-b__list">
                                            <li class="select-b__item">100 гр</li>
                                            <li class="select-b__item">150 гр</li>
                                            <li class="select-b__item">200 гр</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="products-card__price">
                                <span class="price">250</span>
                                <a href="#" class="pay-btn pay-btn--light">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-btn-wrap">
                    <a href="#" class="black-btn-light">Заказать консультацию</a>
                    <a href="#" class="black-btn">Посмотреть все сборы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="our-values">
        <div class="container">
            <h2 class="title-section">Наши ценности</h2>
            <div class="our-values__list">
                <div class="our-values__item">
                    <div class="our-values__card">
                        <div class="our-values__img">
                            <picture><source srcset="img/our-values-img1.svg" type="image/webp"><img src="img/our-values-img1.svg" alt=""/></picture>
                        </div>
                        <div class="our-values__text">Старинные рецепты сборов <br>и курсов из лекарственных трав</div>
                    </div>
                </div>
                <div class="our-values__item">
                    <div class="our-values__card">
                        <div class="our-values__img">
                            <picture><source srcset="img/our-values-img2.svg" type="image/webp"><img src="img/our-values-img2.svg" alt=""/></picture>
                        </div>
                        <div class="our-values__text">Консультации<br>и сопровождение дипломированными<br> врачами-фитотерапевтами</div>
                    </div>
                </div>
                <div class="our-values__item">
                    <div class="our-values__card">
                        <div class="our-values__img">
                            <picture><source srcset="img/our-values-img3.svg" type="image/webp"><img src="img/our-values-img3.svg" alt=""/></picture>
                        </div>
                        <div class="our-values__text">Опыт 6 поколений российских<br> травников на протяжении 100+ лет </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-main">
        <div class="container">
            <div class="about-main__wrap">
                <div class="about-main__item about-main__item--first">
                    <div class="about-main__heading">
                        <div class="about-main__title">Георгий Матвеевич Ковалёв</div>
                    </div>
                    <div class="about-main__text"><p>В своей автобиографии, написанной в 1938 году Георгий Матвеевич пишет, что занимается сбором и применением лекарственных растений с 1883 года и 55 лет жизни посвятил изучению методов лечения лекарственными растениями и натуральными методами лечения больных, имеет массу направлений профессорами и врачами к нему больных, массовые позитивные отзывы врачей и пациентов.</p></div>
                    <div class="about-main__img">
                        <picture><source srcset="img/about-main-img1.webp" type="image/webp"><img src="img/about-main-img1.png" alt=""/></picture>
                    </div>
                </div>
                <div class="about-main__item about-main__item--two">
                    <ul class="list-circle-wh">
                        <li>Рецепты  уникальных многокомпонентных сборов созданы Георгием Матвеевичем Ковалевым в начале XX века</li>
                        <li>Широкий ассортимент  сборов и комплексов</li>
                        <li>Книга Нины Георгиевны Ковалевой - "Лечение растениями" - один из основных трудов по фитотерапии</li>
                        <li>Продолжатели семейного дела - дипломированные врачи,  специалисты в области фармакологии и фармацевтики</li>
                    </ul>
                    <div class="about-main__img">
                        <picture><source srcset="img/about-main-img2.webp" type="image/webp"><img src="img/about-main-img2.png" alt=""/></picture>
                    </div>
                </div>
                <div class="about-main__item about-main__item--three">
                    <div class="about-main__heading">
                        <div class="about-main__title">Нина Георгиевна Ковалёва</div>
                    </div>
                    <div class="about-main__text">
                        <p>«Лечение растениями» — книга Нины Георгиевны Ковалёвой, врача-фитотерапевта. Впервые опубликована в 1971 году в издательстве «Медицина»; была признана одной из лучших книг в СССР в области фитотерапии[1]. В 1971 году книга была издана тиражом 150 тысяч экземпляров, в 1972 году было допечатано ещё 25 тысяч.</p>
                        <p>В книге даётся исторический обзор развития фитотерапии; приводятся ботанические, химические и медицинские характеристики 109 лекарственных растений; большой раздел посвящён примерам из личного врачебного опыта автора, в этом же разделе приведены составы лечебных сборов, используемых для лечения конкретных заболеваний.</p>
                    </div>
                    <div class="about-main__img">
                        <picture><source srcset="img/about-main-img3.webp" type="image/webp"><img src="img/about-main-img3.png" alt=""/></picture>
                    </div>
                </div>
            </div>
            <div class="about-main__btn">
                <a href="#" class="black-btn">Узнать подробнее о семье </a>
            </div>
        </div>
    </div>
    <div class="company-info">
        <div class="container">
            <div class="company-info__wrap">
                <h2 class="title-section">Миссия магазина Травника Ковалева</h2>
                <p>Так повелось, что в семье травников и врачей Ковалевых уже много-много десятилетий принято помогать людям. 
                    И далеко не всегда это происходит за плату. 
                    Поделиться советом, как поддержать здоровье, как найти врача-специалиста по необходимой проблеме - все это происходит совершено бесплатно. 
                    И мы полагаем, что это правильно и считаем это врачебной и семейной миссией. 
                    </p>
                <p>Помощь уникальными сборами, в которые вложены силы, знания и умения - это тоже миссия.⠀
                    И мы в семье Ковалевых знаем, что занимаемся нужным и благородным делом и гордимся этим.</p>
                <p>Сборы из лекарственных трав семьи Ковалевых состоят из множества, иногда из 40 - 50 компонентов в сложных пропорциях.<br>Лекарственные травы собраны в определённое время, правильно высушены, измельчены, упакованы. Это целая наука.<br>
                    Поэтому, неся ответственность за свои сборы лекарственных растений, мы считаем, что готовить их должен квалифицированный фитотерапевт и применять сборы необходимо под контролем специалиста. </p>
                <div class="more-text">
                    <p>Так повелось, что в семье травников и врачей Ковалевых уже много-много десятилетий принято помогать людям. 
                        И далеко не всегда это происходит за плату. 
                        Поделиться советом, как поддержать здоровье, как найти врача-специалиста по необходимой проблеме - все это происходит совершено бесплатно. 
                        И мы полагаем, что это правильно и считаем это врачебной и семейной миссией. 
                        </p>
                </div>
                <div class="more-btn-wrap">
                    <a href="javascript:void(0);" class="more-link more-link-js">Показать весь текст</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="container">
            <h2 class="title-section">Сборы лекарственных трав</h2>
            <div class="products-wrap">
                <div class="products-list">
                    <div class="products-list__item">
                        <div class="products-card">
                            <div class="products-card__img">
                                <picture><source srcset="img/product-im4.webp" type="image/webp"><img src="img/product-im4.png" alt=""/></picture>
                            </div>
                            <div class="products-card__title">Курс детокса <span class="products-card__t-number">№1</span></div>
                            <div class="products-card__text">Повышение иммунитета и укрепление легких в сезон вирусных инфекций</div>
                            <div class="products-card__select">
                                <div class="select-b">
                                    <div class="select-b__heading">
                                        <div class="select-b__name">100 гр</div>
                                    </div>
                                    <div class="select-b__body">
                                        <ul class="select-b__list">
                                            <li class="select-b__item">100 гр</li>
                                            <li class="select-b__item">150 гр</li>
                                            <li class="select-b__item">200 гр</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="products-card__price">
                                <span class="price">800</span>
                                <a href="#" class="pay-btn pay-btn--light">Купить</a>
                            </div>
                        </div>
                    </div>
                    <div class="products-list__item">
                        <div class="products-card">
                            <div class="products-card__img">
                                <picture><source srcset="img/product-im4.webp" type="image/webp"><img src="img/product-im4.png" alt=""/></picture>
                            </div>
                            <div class="products-card__title">Курс детокса <span class="products-card__t-number">№2</span></div>
                            <div class="products-card__text">Очищение кожи, избавление от дисбактериоза и нормализация кишечника</div>
                            <div class="products-card__select">
                                <div class="select-b">
                                    <div class="select-b__heading">
                                        <div class="select-b__name">100 гр</div>
                                    </div>
                                    <div class="select-b__body">
                                        <ul class="select-b__list">
                                            <li class="select-b__item">100 гр</li>
                                            <li class="select-b__item">150 гр</li>
                                            <li class="select-b__item">200 гр</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="products-card__price">
                                <span class="price">8000</span>
                                <a href="#" class="pay-btn pay-btn--light">Купить</a>
                            </div>
                        </div>
                    </div>
                    <div class="products-list__item">
                        <div class="products-card">
                            <div class="products-card__img">
                                <picture><source srcset="img/product-im4.webp" type="image/webp"><img src="img/product-im4.png" alt=""/></picture>
                            </div>
                            <div class="products-card__title">Курс детокса <span class="products-card__t-number">№3</span></div>
                            <div class="products-card__text">Здоровые суставы</div>
                            <div class="products-card__select">
                                <div class="select-b">
                                    <div class="select-b__heading">
                                        <div class="select-b__name">100 гр</div>
                                    </div>
                                    <div class="select-b__body">
                                        <ul class="select-b__list">
                                            <li class="select-b__item">100 гр</li>
                                            <li class="select-b__item">150 гр</li>
                                            <li class="select-b__item">200 гр</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="products-card__price">
                                <span class="price">800</span>
                                <a href="#" class="pay-btn pay-btn--light">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-btn-wrap">
                    <a href="#" class="black-btn-light">Заказать консультацию</a>
                    <a href="#" class="black-btn">Посмотреть все сборы</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-f">
        <div class="container">
            <h2 class="contacts-f__title">Контакты</h2>
            <div class="contacts-f__list">
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--adress">г. Москва, наб. реки Фонтанки, 91</div>
                </div>
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--phone">
                        <a href="tel:89857740473" class="phone-link-f">8-985-774-0473</a>
                    </div>
                </div>
                <div class="contacts-f__item">
                    <div class="contacts-f__label contacts-f__label--social">Мы соц. сетях fytotravnik</div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__container">
                <a href="#" class="logo-f">
                    <picture><source srcset="img/logo.svg" type="image/webp"><img src="img/logo.svg" alt=""/></picture>
                </a>
                <ul class="nav">
                    <li class="nav__li"><a href="#" class="nav__link">Магазин</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Доставка и оплата</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">О фитотерапии</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">История семьи</a></li>
                    <li class="nav__li"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
                <div class="social">
                    <div class="social__item">
                        <a href="#" class="social__link icon-whatsapp"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-facebook"></a>
                    </div>
                    <div class="social__item">
                        <a href="#" class="social__link icon-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">© 2020 Все права защищены</div>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="js/slick.js"></script>
<script src="js/script.min.js"></script>
</body>
</html> 